<!DOCTYPE html>
<html>
<head>
    <title>All Texts</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script src="app.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
</head>
<body>
    <h1>All Texts</h1>
    <ul>
        {% for note in notes %}
            <li><a href="{{ url_for('view_note', note_id=note.id) }}">{{ note.title }}</a></li>
        {% endfor %}
    </ul>
    
    <a href="{{ url_for('main') }}">Back to Categories</a>
</body>
</html>