<!DOCTYPE html>
<html>
<head>
    <title>Text Scanner</title>
</head>
<body>
    <h1>Text Scanner</h1>
    <form action="/" method="post" enctype="multipart/form-data">
        <h3>Upload an Image:</h3>
        <input type="file" name="file" accept=".jpg, .jpeg, .png">
        <input type="submit" value="Submit">
    </form>
    <hr>
    <h3>Or</h3>
    <form action="/" method="post">
        <h3>Enter Text:</h3>
        <textarea name="text" rows="5" cols="50"></textarea>
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>