<!DOCTYPE html>
<html>
<head>
    <title>Main Page</title>
</head>
<body>
    <h1>{{ user.nickname }}'s fridge</h1>
    <h2>Categories:</h2>
    <ul>
        <li><a href="{{ url_for('show_all_texts') }}">Show All</a></li>
        {% for category in categories %}
            <li>
                <a href="{{ url_for('category_notes', category_id=category.id) }}">{{ category.name }}</a>
                <form action="{{ url_for('edit_category', category_id=category.id) }}" method="post" style="display: inline;">
                    <input type="text" name="new_category_name" placeholder="New name" required>
                    <input type="submit" value="Edit">
                </form>
                <form action="{{ url_for('remove_category', category_id=category.id) }}" method="post" style="display: inline;">
                    <input type="submit" value="Remove">
                </form>
            </li>
        {% endfor %}
    </ul>
    <h3>Add Category:</h3>
    <form action="{{ url_for('create_category') }}" method="post">
        <input type="text" name="category_name" placeholder="Enter category name" required>
        <input type="submit" value="Add Category">
    </form>
</body>
</html>