<!DOCTYPE html>
<html>
<head>
    <title>Notes Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script src="app.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
</head>
<body>
    <h1>{{ user.nickname }}'s {{ category.name }}</h1>
    <ul>
        {% for note in notes %}
            <li><a href="{{ url_for('view_note', note_id=note.id) }}">{{ note.title }}</a></li>
        {% endfor %}
    </ul>
    <h2>Add Note:</h2>
    <form action="{{ url_for('create_note') }}" method="post">
        <input type="hidden" name="category_id" value="{{ category.id }}">
        <label for="note_title">Note Title:</label>
        <input type="text" id="note_title" name="note_title" required><br>
        <label for="note_content">Note Content:</label><br>
        <textarea id="note_content" name="note_content" rows="4" cols="50" required></textarea><br>
        <input type="submit" value="Add">
    </form>

    <h2>Add Text from Image:</h2>
    <form action="{{ url_for('add_text_from_image') }}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="category_id" value="{{ category.id }}">
        <label for="image_file">Image:</label>
        <input type="file" name="image_file" accept=".png, .jpg, .jpeg"><br>
        <label for="image_title">Title:</label>
        <input type="text" name="image_title" placeholder="Enter title"><br>
        <label for="post_type">Post Type:</label>
        <select name="post_type">
            <option value="text">Text</option>
            <option value="movie">Movie</option>
        </select><br>
        <input type="submit" value="Add Text from Image">
    </form>

    <h2>Remove Text:</h2>
    <form action="{{ url_for('remove_text') }}" method="post">
        <input type="hidden" name="category_id" value="{{ category.id }}">
        <select name="note_id">
            <option value="" disabled selected>Select One</option>
            {% for note in notes %}
                <option value="{{ note.id }}">{{ note.title }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Remove">
    </form>

    <a href="{{ url_for('main') }}">Back to Categories</a>
</body>
</html>