<!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>
</head>
<body>
    <h1>Sign Up</h1>
    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
    <form action="/signup" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>
        <label for="nickname">Nickname:</label>
        <input type="text" id="nickname" name="nickname" required><br>
        <input type="submit" value="Sign Up">
    </form>
    <p>Already have an account? <a href="/login">Login</a></p>
</body>
</html>