<!DOCTYPE html>
<html>
<head>
    <title>Upload File</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script src="app.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Upload File</h1>
        <div class="upload-file-container">
            <form action="{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data">
                <div class="form-field">
                    <select name="category_id" required>
                        {% for category in categories %}
                            <option value="{{ category.id }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-field">
                    <input type="file" name="file" accept=".png, .jpg, .jpeg" required>
                </div>
                <div class="form-field">
                    <input type="text" name="image_title" placeholder="Enter title" required>
                </div>
                <input type="submit" value="Upload">
            </form>
        </div>
    </div>
</body>
</html>